<!doctype html>
<html>
<head>
	<base href="../">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

	<script src="polyfill/custom-elements.min.js"></script>
	<script src="polyfill/shadydom.min.js"></script>
	<!--script src="polyfill/shadycss.min.js"></script-->
	<!--script src="lib/css-polyfill.js"></script-->

	<link rel="stylesheet" type="text/css" href="css/flexus-layout.css">
	<link rel="stylesheet" type="text/css" href="css/flexus-material.css" polyfill>
	<link rel="stylesheet" type="text/css" href="css/flexus-material-icons.css">

	<style>
	:root {
		--centered-width: 500px;
	}
	[centered] {
		padding-left:  calc(((100vw - var(--centered-width)) / 2) + 1rem) !important;
		padding-right: calc(((100vw - var(--centered-width)) / 2) + 1rem) !important;
	}
	</style>

</head>
<body light primary="amber">


	<flexus-view detail autocenter>
		<flexus-toolbar multisection elevation="2">
			<section centered colored tall>
				<h1>Material icons</h1>
			</section>
			<section centered search sticky>
				<button icon="arrow-back"></button>
				<input type="text" placeholder="Search">
				<button icon="x"></button>
			</section>
		</flexus-toolbar>
		<main centered>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</main>
	</flexus-view>


</body>
</html>
