<!doctype html>
<html>
<head>
	<meta charset="utf-8">

	<script src="/flexus/polyfills/custom-elements.min.js"></script>
	<script src="/flexus/polyfills/shadydom.min.js"></script>

	<link rel="stylesheet" type="text/css" href="/flexus/css/flexus-neon.css">
	<link rel="stylesheet" type="text/css" href="/flexus/css/flexus-neon-icons.css">

	<style>
		main > flexus-tabs[transparent] {
			margin-left: calc(-1 * var(--tab-gutter));
		}
	</style>

</head>
<body vertical layout dark primary="green">

<div fx-app flex>

	<flexus-view>
		<flexus-tabs fixed small>
			<button icon="account"></button>
			<button icon="accounts"></button>
			<button icon="message"></button>
			<button icon="message"></button>
		</flexus-tabs>
		<flexus-pages>
			<section>
				<h4>Friends & clubs</h4>
				<h5>Suggestions</h5>
				<div fx-item>
					<img avatar>
					<div two-line>
						<div>Friend 1</div>
						<div muted>last seen 28m ago</div>
					</div>
				</div>
				<div fx-item>
					<img avatar>
					<div two-line>
						<div>Friend 2</div>
						<div muted>offline</div>
					</div>
				</div>
			</section>
		</flexus-pages>
	</flexus-view>


	<flexus-view subtle>
		<flexus-tabs fixed small subtle>
			<button icon="account"></button>
			<button icon="accounts"></button>
			<button icon="message"></button>
			<button icon="message"></button>
		</flexus-tabs>
		<flexus-pages>
			<section>
				<h4>Friends & clubs</h4>
				<h5>Suggestions</h5>
				<div fx-item>
					<img avatar>
					<div two-line>
						<div>Friend 1</div>
						<div muted>last seen 28m ago</div>
					</div>
				</div>
				<div fx-item>
					<img avatar>
					<div two-line>
						<div>Friend 2</div>
						<div muted>offline</div>
					</div>
				</div>
			</section>
		</flexus-pages>
	</flexus-view>


	<flexus-view>
		<flexus-toolbar transparent>
			<button icon="x"></button>
			<div flex>File Info</div>
		</flexus-toolbar>
		<flexus-list>
			<div fx-item two-line>
				<div secondary>File name</div>
				<div>Filename.png</div>
			</div>
			<div fx-item two-line>
				<div secondary>Date</div>
				<div>Thursday, Octover 27, 2016 2:48 AM</div>
			</div>
			<div fx-item two-line>
				<div secondary>Size</div>
				<div>12.6 KB</div>
			</div>
			<div fx-item two-line>
				<div secondary>Dimensions</div>
				<div>514 x 383</div>
			</div>
		</flexus-list>
	</flexus-view>


	<flexus-view subtle>
		<flexus-toolbar transparent>
			<button icon="x"></button>
			<div flex>File Info</div>
		</flexus-toolbar>
		<div fx-item two-line>
			<div secondary>File name</div>
			<div>Filename.png</div>
		</div>
		<div fx-item two-line>
			<div secondary>Date</div>
			<div>Thursday, Octover 27, 2016 2:48 AM</div>
		</div>
		<div fx-item two-line>
			<div secondary>Size</div>
			<div>12.6 KB</div>
		</div>
		<div fx-item two-line>
			<div secondary>Dimensions</div>
			<div>514 x 383</div>
		</div>
	</flexus-view>


	<flexus-view>
		<flexus-toolbar transparent>
			<button icon="arrow-back"></button>
			<h1>Prefferences</h1>
		</flexus-toolbar>
		<main>
			<p>This should be automatically picked up and detected as [left][panel]</p>
		</main>
	</flexus-view>


	<flexus-view subtle>
		<flexus-toolbar transparent>
			<button icon="arrow-back"></button>
			<h1>Prefferences</h1>
		</flexus-toolbar>
		<p>This should be automatically picked up and detected as [left][panel]</p>
	</flexus-view>

</div>
<div fx-app flex>

	<flexus-view>
		<flexus-tabs fixed small>
			<button icon="account"></button>
			<button icon="accounts"></button>
			<button icon="message"></button>
			<button icon="message"></button>
		</flexus-tabs>
		<flexus-pages>
			<section>
				<h4>Friends & clubs</h4>
				<h5>Suggestions</h5>
				<div fx-item>
					<img avatar>
					<div two-line>
						<div>Friend 1</div>
						<div muted>last seen 28m ago</div>
					</div>
				</div>
				<div fx-item>
					<img avatar>
					<div two-line>
						<div>Friend 2</div>
						<div muted>offline</div>
					</div>
				</div>
			</section>
		</flexus-pages>
	</flexus-view>


	<flexus-view subtle>
		<flexus-tabs fixed small>
			<button icon="account"></button>
			<button icon="accounts"></button>
			<button icon="message"></button>
			<button icon="message"></button>
		</flexus-tabs>
		<flexus-pages>
			<section>
				<h4>Friends & clubs</h4>
				<h5>Suggestions</h5>
				<div fx-item>
					<img avatar>
					<div two-line>
						<div>Friend 1</div>
						<div muted>last seen 28m ago</div>
					</div>
				</div>
				<div fx-item>
					<img avatar>
					<div two-line>
						<div>Friend 2</div>
						<div muted>offline</div>
					</div>
				</div>
			</section>
		</flexus-pages>
	</flexus-view>


	<flexus-view>
		<flexus-toolbar>
			<button icon="x"></button>
			<div flex>File Info</div>
		</flexus-toolbar>
		<flexus-list>
			<div fx-item two-line>
				<div secondary>File name</div>
				<div>Filename.png</div>
			</div>
			<div fx-item two-line>
				<div secondary>Date</div>
				<div>Thursday, Octover 27, 2016 2:48 AM</div>
			</div>
			<div fx-item two-line>
				<div secondary>Size</div>
				<div>12.6 KB</div>
			</div>
			<div fx-item two-line>
				<div secondary>Dimensions</div>
				<div>514 x 383</div>
			</div>
		</flexus-list>
	</flexus-view>


	<flexus-view subtle>
		<flexus-toolbar>
			<button icon="x"></button>
			<div flex>File Info</div>
		</flexus-toolbar>
		<div fx-item two-line>
			<div secondary>File name</div>
			<div>Filename.png</div>
		</div>
		<div fx-item two-line>
			<div secondary>Date</div>
			<div>Thursday, Octover 27, 2016 2:48 AM</div>
		</div>
		<div fx-item two-line>
			<div secondary>Size</div>
			<div>12.6 KB</div>
		</div>
		<div fx-item two-line>
			<div secondary>Dimensions</div>
			<div>514 x 383</div>
		</div>
	</flexus-view>


	<flexus-view>
		<flexus-toolbar>
			<button icon="arrow-back"></button>
			<h1>Prefferences</h1>
		</flexus-toolbar>
		<main>
			<p>This should be automatically picked up and detected as [left][panel]</p>
		</main>
	</flexus-view>


	<flexus-view subtle>
		<flexus-toolbar>
			<button icon="arrow-back"></button>
			<h1>Prefferences</h1>
		</flexus-toolbar>
		<p>This should be automatically picked up and detected as [left][panel]</p>
	</flexus-view>

</div>


	<script src="/flexus/node_modules/platform-detect/index.js"></script>
	<script src="/flexus/lib/ganymede.js"></script>
	<script src="/flexus/lib/flexus.js"></script>

	<script src="/flexus/elements/tabs.js"></script>

</body>
</html>
